{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
   <h1>Articles add</h1>
   
   {{form_start(form)}}
   {{form_widget(form)}}
   <br>
   <button class='btn btn-default'>Save</button>
   {{form_end(form)}}
 
{% endblock %}

{% block title %}
    Hello!
{% endblock %}